.container-flex-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: transparent;
    position: relative;
    z-index: 20;
    margin-top: 140px;
    min-height: 30vh;
}

.card {
    width: 300px;
    height: 200px;
    margin-right: 35px;
    margin-top: 20px;
    background-color: transparent;
    position: relative;
}

.card > .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0%;
    left: 0%;
    opacity: 0;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover > .overlay {
    opacity: 1;
}

.overlay > button {
    background-color: transparent;
    border: none;
}
.overlay > button > a {
    width: 100px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color .3s;
}

.overlay > button > a:hover {
    background-color: white;
    color: hsl(0, 0%, 9%);
    border: solid 2px white;
}


.card > h1 {
    position: absolute;
    top: -80px;
    background-color: transparent;
}   

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: top center;
}

@media (max-width: 787px) {
    .card{
        flex: 100%;
        height: 400px;
        margin-right: auto;
        margin-left: auto;
    }

    .container-flex-cards{
        justify-content: center;
        padding: 0 10px;
    }
}

@media (max-width: 635px) {
    .container-flex-cards{
        padding-left: 10x;
        padding-right: 10px;
    }
}