.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 120px;
    padding: 0 10px;
    z-index: 20;
}


@media (max-width: 800px) {
    .footer{
        gap: 60px;
    }
}


@media (max-width: 600px) {
    .footer{
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 20px;
        padding: 30px 10px;
    }
}