.categories{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 30px;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    z-index: 30;
}

.categories > label:hover {
    cursor: pointer;
    font-weight: 600;
}